<h2>My tasks</h2>
<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <div class="item">
        <li class="checked element"> <%= link_to task.title, "/tasks/#{task.id}" %>  </li>
        <p class="element"> <%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Delete #{task.title}"} %> </p>
      </div>
      <% else %>
      <div class="item">
        <li class="element"> <%= link_to task.title, "/tasks/#{task.id}" %> </li>
        <p class="element"> <%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Delete #{task.title}"} %> </p>
      </div>
    <% end %>
  <% end %>
</ul>
<%= link_to "Add a new task", "/tasks/new" %>

